body{
    margin: 0;
    padding: 0;
    background-image: url(galaxy.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}
#fej{
    top: 5%;
    left: 50%;
    position: absolute;
transform: translate(-50%);
}
#fej2{
    top: 10%;
    left: 50%;
    position: absolute;
transform: translate(-50%);
}
.fejek{
    text-align: center;
    font-size: 45px;
    color: white;
    -webkit-text-stroke: 2px rgb(44, 0, 65);
    font-family: "poppins", sans-serif;
}

.gombok{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.btn{
    background: none;
    border: 3px solid rgb(44, 0, 65);
    font-family: "poppins", sans-serif;
    padding: 20px 35px;
    min-width: 180px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    border-radius:  50px;
    font-size: 20px;
    color: #fff;
    display: inline-block;

}
.btn:hover{
    color: rgb(200, 106, 255)
}
.btn::before{
  content: "";
  position: absolute;
  left: 0;
  top:0;
   width: 100%;
   height: 100%;
   background: rgba(116, 2, 161, 0.692);
   border-radius: 50px;
   z-index: -1;
   transition: transform 0.7s;
   transform-origin: 0 0;
   transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);

}
.btn::before{
    transform: scaleX(0);
}
.btn:hover::before{
    transform: scaleX(1);
}
